.profile {
  background-color: $grey-color;
}
.profile-details {
  background-color: white;
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  h1 {
    font-size: 2.4rem;
  }
  h4 {
    margin-top: 1rem;
    color: $main-color;
  }
  p {
    margin-bottom: 0.5rem;
  }
}

.profile-lists {
  .list-card {
    margin-bottom: 2rem;
  }
}
