.tag-results {
  .list-card {
    margin-bottom: 2rem;
  }
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.tag-name {
  background-color: #fff;
  h1 {
    font-size: 2rem;
    text-transform: uppercase;
    margin: 0;
    text-align: center;
  }
}
