.container-full {
  height: 100%;
}

.btn {
  color: #fff;
  background-color: $main-color;
  padding: 0.3rem 1.8rem;
  font-size: 1rem;
  border-radius: 3px;
  margin: 0.2rem 0.4rem;
  display: inline-block;
  font-family: 'Nunito';
  font-weight: 500 !important;
  cursor: pointer;
  border: 2px solid transparent;
  transition: all 0.3s ease-in-out;
  position: relative;

  &:hover {
    color: white;
    background-color: #ff8938;
  }

  &:focus {
    outline: none;
  }
}

.btn-clear {
  color: $dark-color;
  padding: 0;
  background-color: transparent;
  &:hover {
    background-color: transparent;
    color: $dark-color;
  }
}

.orange-spinner {
  border-color: $main-color !important;
  border-right-color: transparent !important;
}
