.btn {
  background-color: $main-color;
  color: white;
  padding: 0.2rem 1.5rem;
  font-size: 1rem;
  border-radius: 5px;
  margin: 0.2rem 0.4rem;
  display: inline-block;
  font-weight: 500;
  cursor: pointer;
  border: 2px solid transparent;
  transition: all 0.3s ease-in-out;
  position: relative;

  &:hover {
    background-color: #cf0000;
  }
  a {
    color: white;
    &:hover {
      color: white;
    }
  }
}

.btn-clear {
  padding: 0;
  background-color: transparent;
  &:hover {
    background-color: transparent;
  }
  a {
    color: $main-color;
    &:hover {
      color: $main-color;
    }
  }
}
