@include media-breakpoint-up(sm) {
}
@include media-breakpoint-up(md) {
  .mobi-nav {
    display: none;
  }

  .delete-list {
    padding-bottom: 2rem;
  }
  .vert-nav {
    display: flex;
    position: fixed;
    height: 100%;
    width: 100%;
    border-left: 1px solid #0000001f;
    background-color: #fff;
    padding: 5rem 0 0 2rem;
    flex-direction: column;
    .vert-nav-items {
      display: flex;
      flex-direction: column;
    }
    .btn {
      margin-left: 0;
    }
  }

  .desktop-col {
    display: initial;
  }

  .create-list-items {
    margin-bottom: 0;
  }
  .main {
    margin-top: 75px;
  }
}
@include media-breakpoint-up(lg) {
}

@include media-breakpoint-up(xl) {
}
