@include media-breakpoint-up(sm) {
}
@include media-breakpoint-up(md) {
  .mobi-nav {
    display: none;
  }

  .delete-list {
    padding-bottom: 2rem;
  }

  .desktop-col {
    min-height: 100vh;
    display: flex;
    border-left: 1px solid #0000001f;
    .vert-nav-items {
      position: fixed;
      padding-top: 75px;
      display: flex;
      flex-direction: column;
      .btn {
        margin-left: 0;
      }
    }
  }

  .trending-timeline {
    padding: 0 2rem;
  }

  .create-list-items {
    margin-bottom: 0;
  }
  .main {
    margin-top: 75px;
  }
  section {
    padding: 2.5rem 0;
  }
}
@include media-breakpoint-up(lg) {
  section {
    padding: 4rem 0;
  }
}

@include media-breakpoint-up(xl) {
}
