@import url('https://fonts.googleapis.com/css?family=Nunito:400,700,900i&display=swap');

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Nunito';
  font-weight: 900;
  color: $dark-color;
}

.o-text {
  color: $main-color !important;
}

.w-text {
  color: $white-color !important;
}

a {
  font-family: 'Nunito';
  &:hover {
    text-decoration: none !important;
  }
}
