@import url('https://fonts.googleapis.com/css?family=Nunito:400,700,900i&display=swap');

p {
  font-family: 'Nunito';
  font-weight: normal;
}

a {
  font-family: 'Nunito';
  font-weight: normal;

  &:hover {
    text-decoration: none !important;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Nunito';
  font-weight: 900;
  color: $dark-color;
}

input[type='text'],
input[type='password'],
input[type='submit'] {
  font-family: 'Nunito';
  font-weight: normal;
}

.o-text {
  color: $main-color !important;
}

.w-text {
  color: $white-color !important;
}

.g-text {
  color: #696969;
}
