//COLORS
$main-color: #ea660c;
$white-color: #fff;
$dark-color: #0e0e0e;
$grey-color: #f3f3f3;

#root,
body,
html {
  height: 100%;
  position: relative;
  padding: 0;
  margin: 0;
  background-color: $grey-color;
}

button {
  &:focus {
    outline: none;
  }
}

section {
  padding: 2rem 0;
}

.collapse {
  display: none;
}
.show {
  display: initial !important;
}

//FILES
@import './elements';
@import './typography';

//MIXINS
@import '../../node_modules/bootstrap/scss/bootstrap-reboot.scss';
@import '../../node_modules/bootstrap/scss/bootstrap-grid';
@import '../../node_modules/bootstrap/scss/mixins/breakpoints';
@import '../../node_modules/bootstrap/scss/spinners';
@import '../../node_modules/bootstrap/scss/card';
@import '../../node_modules/bootstrap/scss/modal';

//COMPONENTS
@import '../components/layout/Nav/nav';
@import '../components/secondary/ListCard/listCard';

//STATIC PAGES
@import '../pages/HomeStatic/homeStatic';
@import '../pages/Forms/forms';

//APP PAGES
@import '../components/main/Profile/profile';
@import '../components/main/Tags/tags';
@import '../components/main/ListPage/listpage';
@import '../components/main/Timeline/timeline';
@import '../components/main/CreateList/createlist';

//MEDIA QUERIES
@import './responsive';
