#root,
body,
html {
  height: 100%;
  position: relative;
  padding: 0;
  margin: 0;
}

button {
  &:focus {
    outline: none;
  }
}

section {
  padding: 2rem 0;
}

//COLORS
$main-color: #ea660c;
$white-color: #fff;
$dark-color: #191919;
$grey-color: #f3f3f3;

//FILES
@import './elements';
@import './typography';

//MIXINS
@import '../../node_modules/bootstrap/scss/bootstrap-reboot.scss';
@import '../../node_modules/bootstrap/scss/bootstrap-grid';
@import '../../node_modules/bootstrap/scss/mixins/breakpoints';
@import '../../node_modules/bootstrap/scss/spinners';

//COMPONENTS
@import '../components/Nav/nav';
@import '../components/ListCard/listCard';

//STATIC PAGES
@import '../static/HomeStatic/homeStatic';
@import '../static/Forms/forms';
@import '../app/Tags/tags';

//APP PAGES
@import '../app/Profile/profile';

//MEDIA QUERIES
@import './responsive';
