.home {
  position: relative;
  .container {
    height: 100%;
  }
}
//HERO

.home-hero {
  background-color: $dark-color;
}

.home-hero-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  h1 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.6rem;
    font-weight: 600;
    line-height: normal;
  }
  h4 {
    font-size: 1rem;
    font-weight: normal;
    line-height: normal;
    color: #666666;
  }
}

.home-buttons {
  margin-top: 1rem;
  :first-child {
    margin-left: 0;
  }
}

.home-lists {
  background-color: #eaeaea;
  height: 100%;
}
