//HERO
.home-hero {
  background-color: #fff;
}

.home-hero-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  h1 {
    font-size: 2.5rem;
    font-weight: 900;
  }
  h3 {
    font-size: 1.6rem;
    font-weight: 600;
    line-height: normal;
  }
  h4 {
    font-size: 1rem;
    font-weight: normal;
    line-height: normal;
    color: #696969;
  }
}

.home-buttons {
  margin-top: 1rem;
  :first-child {
    margin-left: 0;
  }
}

.home-lists {
  background-color: #f3f3f3;
}

.home-lists-container {
  padding: 2rem 0.8rem;
  display: flex;
  align-items: flex-start;
  overflow-x: auto;
}
