.home-static {
  padding-top: 75px;
}
//HERO
.home-hero {
  background-color: #fff;
}

.home-hero-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  h1 {
    font-size: 2.5rem;
    font-weight: 900;
  }
  h3 {
    font-size: 1.6rem;
    font-weight: 600;
    line-height: normal;
  }
  h4 {
    font-size: 1rem;
    font-weight: normal;
    line-height: normal;
  }
}

.home-buttons {
  margin-top: 1rem;
  :first-child {
    margin-left: 0;
  }
}

.home-lists {
  background-color: #f3f3f3;
}

//404 PAGE
.fourOhFour {
  padding-top: 75px;
  background-color: white;
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  h1 {
    font-size: 2.4rem;
  }
  h3 {
    margin-top: 0.5rem;
    color: $main-color;
  }
  p {
    margin: 0;
  }
  .logout {
    cursor: pointer !important;
  }
}
