.list-page {
  background-color: #fff;
}

.list-info {
  background-color: #fff;
  h2 {
    font-size: 2rem;
  }
  a {
    font-size: 1.5rem;
  }
}

.list-tags {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0.8rem;
  .list-tag {
    margin-top: 0.5rem;
    cursor: pointer;
    padding: 0.4rem 1rem;
    border-radius: 3px;
    background-color: $dark-color;
    margin-right: 0.5rem;
    font-size: 1rem;
    color: #fff;
    transition: all 0.3s ease-in-out;
    &:hover {
      background-color: #4a4a4a;
    }
  }
}

.list-item {
  border-radius: 5px;
  margin-bottom: 2rem;
}

.list-item-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 5px $main-color solid;
}

.list-item-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  h4,
  h3 {
    font-size: 1.2rem;
    text-transform: capitalize;
    padding: 0;
    margin: 0;
  }
}

.item-order {
  border-radius: 5px 0 0 0;
  padding: 0.4rem 0.8rem;
  background-color: $main-color;
  h3 {
    color: #fff;
  }
}

.item-name {
  width: 100%;
  height: 100%;
  display: flex;
  margin-left: 1.5rem;
  justify-content: flex-start;
  align-items: center;
}

.item-description {
  padding: 1rem;
  background-color: $main-color;
  color: #fff;
  border-radius: 0 0 5px 5px;
}

// ACTIONS ()
.list-actions {
  padding: 1rem 0;
  display: flex;
  align-items: center;
  font-size: 1.3rem;
  justify-content: space-between;

  p {
    margin: 0;
    margin-right: 0.5rem;
    font-weight: 900;
  }
}

//COMMENTS
.comment-count,
.like-count {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.list-comments {
  width: 100%;
}

.comment {
  position: relative;
  border-bottom: 1px solid #cacaca;
  margin-bottom: 1rem;
  .comment-date {
    padding: 0.5rem 0;
    font-size: 0.8rem;
  }
  svg {
    position: absolute;
    top: 0;
    right: 0;
  }
  a {
    font-weight: 900;
    font-size: 1.2rem;
  }
}

//COMMENT FORM

.comment-form {
  background-color: white;
  padding-bottom: 5rem;
}
