.friends-timeline,
.trending-timeline {
  .list-card {
    margin-bottom: 2rem;
  }
}

.trending-timeline {
  padding-bottom: 0;
  h1 {
    margin-bottom: 1rem;
  }
}

.friends-timeline {
  h1 {
    margin-bottom: 2rem;
  }
  margin-bottom: 4rem;
}
