.create-list {
  padding-top: 55px;
}

.create-list-title {
  background-color: #fff;
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    .buttons {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}

.submitted-title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  h1 {
    font-size: 2.5rem;
  }
}

.title-count {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.number-input {
  width: 5rem;
  margin: 0 0 0 1rem;
  border: none;
  border-bottom: 5px $main-color solid;
  padding: 0;
  text-align: center;
  font-size: 1.2rem;
  &:focus {
    outline: none;
  }
}

.create-list-items {
  padding-bottom: 4rem;
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    input {
      max-width: 500px;
      width: 100%;
    }
  }
}

.list-name-description {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-bottom: 1.5rem;
  padding-bottom: 1rem;
}

//TAGSSSS

.create-list-tags {
  background-color: $main-color;
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.tags-input {
  max-width: 500px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 0 1rem;
  border: 1px solid #e4e4e4;
  border-radius: 3px;
  background-color: #fff;

  &:focus-within {
    border-width: 1px;
    border-style: solid;
    border-color: #ffcfaf;
    border-radius: 3px;
  }
  input {
    flex: 1;
    border: none;
    height: 46px;
    padding: 4px 0 0 0;
    font-family: 'Nunito';
    font-weight: normal;
    &:focus {
      outline: transparent;
    }
  }
}

#tags {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0 0 0 0;
}

.tag {
  width: auto;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  margin: 0 8px 8px 0;
  background: $dark-color;
  margin-top: 0.5rem;
  padding: 0.4rem 1rem;
  border-radius: 3px;
  font-size: 1rem;
  color: #fff;

  .tag-title {
    margin: 0;
  }
  .tag-close-icon {
    display: block;
    width: 16px;
    height: 16px;
    line-height: 16px;
    text-align: center;
    font-size: 14px;
    margin-left: 8px;
    color: $dark-color;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
  }
}
