.nav {
  position: fixed;
  width: 100%;
  padding: 0.5rem 0;
  background-color: #fff;
  z-index: 1000;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .timeline-heading {
    padding: 0;
    margin: 0;
  }
}

.app-nav {
  border-bottom: 1px solid #0000001f;
}

.nav-centered {
  .container {
    justify-content: center;
  }
}

.nav-left {
  .container {
    justify-content: flex-start;
  }
  h2 {
    margin: 0;
    margin-left: 2rem;
    text-transform: capitalize;
  }
}

.nav-logo {
  width: 95px;
}

.nav-icon {
  width: 40px;
}

.mobi-nav {
  z-index: 100;
  background-color: $dark-color;
  width: 100%;
  position: fixed;
  bottom: 0;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.mobi-link {
  padding: 0.7rem 0;
  color: white;
  &:hover {
    color: white;
  }
}

//VERT NAV
.vert-nav {
  display: none;
}

.go-back {
  cursor: pointer;
}
